# Copie ce fichier en .env et adapte les valeurs pour la production
DATABASE_URL=sqlite:///./livraison.db
SECRET_KEY=change-moi-en-production-avec-une-vraie-cle-secrete
ACCESS_TOKEN_EXPIRE_MINUTES=1440
